In [19]:
import numpy as np
import pandas as pd

In [20]:
train = pd.read_csv('F:\\DataSets\\Twitter\\train_E6oV3lV.csv')

In [21]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [22]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split()))

In [23]:
train.shape

(31962, 4)

In [24]:
train.head()

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          18
1   2      0  @user @user thanks for #lyft credit i can't us...          19
2   3      0                                bihday your majesty           3
3   4      0  #model   i love u take with u all the time in ...          14
4   5      0             factsguide: society now    #motivation           4

In [25]:
def avg_word(sent):
    words = sent.split()
    total_len = len(words)
    return (sum(len(word) for word in words)/total_len)

In [26]:
train['avr_word'] = train['tweet'].apply(lambda x: avg_word(x))

In [27]:
train.head()

,id,label,tweet,word_count,avr_word
0,1,0,@user when a father is dysfunctional and is s...,18,4.555556
1,2,0,@user @user thanks for #lyft credit i can't us...,19,5.315789
2,3,0,bihday your majesty,3,5.666667
3,4,0,#model i love u take with u all the time in ...,14,4.928571
4,5,0,factsguide: society now #motivation,4,8.000000

<h2>Remove Non ASCII values</h2>

In [28]:
def strip_non_ascii(stri):
    stripped = (c for c in stri if 0 <ord(c)<128)
    return ''.join(stripped)

In [29]:
train['tweet'] = train['tweet'].apply(lambda x: strip_non_ascii(x))

<h2>Stop Words</h2>

In [30]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [31]:
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))

In [32]:
train.head()

,id,label,tweet,word_count,avr_word,stopwords
0,1,0,@user when a father is dysfunctional and is s...,18,4.555556,10
1,2,0,@user @user thanks for #lyft credit i can't us...,19,5.315789,5
2,3,0,bihday your majesty,3,5.666667,1
3,4,0,#model i love u take with u all the time in ...,14,4.928571,5
4,5,0,factsguide: society now #motivation,4,8.000000,1

<h2>Hash Tags</h2>

In [33]:
train['hashtags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train.head()

,id,label,tweet,word_count,avr_word,stopwords,hashtags
0,1,0,@user when a father is dysfunctional and is s...,18,4.555556,10,1
1,2,0,@user @user thanks for #lyft credit i can't us...,19,5.315789,5,3
2,3,0,bihday your majesty,3,5.666667,1,0
3,4,0,#model i love u take with u all the time in ...,14,4.928571,5,1
4,5,0,factsguide: society now #motivation,4,8.000000,1,1

<h2>Preprocessing</h2>

<p><b>Convert every thing in Lower Case<p>

In [34]:
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x.lower() for x in x.split()))
train.head()

,id,label,tweet,word_count,avr_word,stopwords,hashtags
0,1,0,@user when a father is dysfunctional and is so...,18,4.555556,10,1
1,2,0,@user @user thanks for #lyft credit i can't us...,19,5.315789,5,3
2,3,0,bihday your majesty,3,5.666667,1,0
3,4,0,#model i love u take with u all the time in ur!!!,14,4.928571,5,1
4,5,0,factsguide: society now #motivation,4,8.000000,1,1

In [35]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]', '')
train.head()

,id,label,tweet,word_count,avr_word,stopwords,hashtags
0,1,0,user when a father is dysfunctional and is so ...,18,4.555556,10,1
1,2,0,user user thanks for lyft credit i cant use ca...,19,5.315789,5,3
2,3,0,bihday your majesty,3,5.666667,1,0
3,4,0,model i love u take with u all the time in ur,14,4.928571,5,1
4,5,0,factsguide society now motivation,4,8.000000,1,1

<h2>Removing Stop words</h2>

In [36]:
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x for x in x.split() if x not in stop))
train.head()

,id,label,tweet,word_count,avr_word,stopwords,hashtags
0,1,0,user father dysfunctional selfish drags kids d...,18,4.555556,10,1
1,2,0,user user thanks lyft credit cant use cause do...,19,5.315789,5,3
2,3,0,bihday majesty,3,5.666667,1,0
3,4,0,model love u take u time ur,14,4.928571,5,1
4,5,0,factsguide society motivation,4,8.000000,1,1

In [37]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17495
love      2725
day       2253
happy     1691
amp       1601
im        1156
u         1143
life      1126
time      1125
like      1052
dtype: int64

In [38]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x for x in x.split() if x not in freq))

In [39]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-20:]
freq

washingtondc                                       1
friendswedding                                     1
aslipanga                                          1
kebab                                              1
barren                                             1
lovephotographinstagraminstagoodinstalikefollow    1
jchr                                               1
straights                                          1
fats                                               1
vlive                                              1
rooftops                                           1
nibb                                               1
lostlovedones                                      1
naturalborn                                        1
accomplice                                         1
strobe                                             1
instagramersgrandpa                                1
haagendazs                                         1
showsomerespect                                    1
okokok                                             1
dtype: int64

In [40]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x for x in x.split() if x not in freq))

In [41]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:10].apply(lambda x: ' '.join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                                        model take ur
4                              factsguid societi motiv
5    22 huge fan fare big talk leav chao pay disput...
6                                  camp tomorrow danni
7    next school year year exam cant think school e...
8    land allin cav champion cleveland clevelandcavali
9                                           welcom gr8
Name: tweet, dtype: object

In [42]:
from textblob import TextBlob

<p><b>Uni-gram or Bag of Words</p>

In [43]:
TextBlob(train['tweet'][0]).ngrams(1)

[WordList(['father']),
 WordList(['dysfunctional']),
 WordList(['selfish']),
 WordList(['drags']),
 WordList(['kids']),
 WordList(['dysfunction']),
 WordList(['run'])]

<p><b>Bi-gram</p>

In [44]:
TextBlob(train['tweet'][0]).ngrams(2)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drags']),
 WordList(['drags', 'kids']),
 WordList(['kids', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [46]:
matrix = TfidfVectorizer(max_features=2000, analyzer='word', ngram_range=(1,1))

In [47]:
data = train['tweet']

In [48]:
X = matrix.fit_transform(data).toarray()
y = train['label']

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [50]:
X_train.shape

(23971, 2000)

In [51]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(y_test, y_pred)

array([[4931, 2506],
       [  99,  455]], dtype=int64)

In [53]:
accuracy_score(y_test, y_pred)

0.6740082592917032

In [54]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [55]:
accuracy_score(y_test, y_pred)

0.9583281191340258

In [56]:
confusion_matrix(y_test, y_pred)

array([[7370,   67],
       [ 266,  288]], dtype=int64)

In [60]:
prec = 288/(288+67)

In [61]:
rec = 288/(266+288)

In [62]:
(2*prec*rec)/(rec+prec)

0.6336633663366336